.settings-body{
    height:100vh;
}

.settings__setting{
    padding: 20px 0px;
    border-bottom:1px solid rgba(0, 0, 0, 0.15);
    font-size: 18px;
    display: flex;
    align-items: center;
    opacity: 0.7;
    justify-content: space-between;

}

.settings__setting i{
    margin-right: 20px;
    font-size: 22px;

}

.settings__setting-column:last-child{
    opacity: 0.5;
}


.settings-list2{
    padding-top: 40px;

}

.settings__setting__new{
    background-color: rgb(250, 47, 11);
    width: 16px;
    height: 16px;
    border-radius: 8px;
    font-size: 12px;
    color:white;
    display: inline-flex; /* 텍스트와 함께 수평 정렬 */
    justify-content: center; /* 수평 가운데 정렬 */
    align-items: center; /* 수직 가운데 정렬 */
}